<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp page</title>
    <style>
        .logerror{
            color: red;
            font-weight: bold;
            padding: 10px;
        }
    </style>
</head>
<body>
    <h2>Register Here</h2>

    <form action="" method="POST" autocomplete="off">

        {% csrf_token %}

        <table>
            <tr><input type="text" name="name" id="" placeholder="UserName" autocomplete="new-password"></tr>
            <h3 class="logerror">{{error}}</h3>
            <tr><input type="FirstName" name="firstname" id="" placeholder="FirstName"></tr>
            <tr><input type="LastName" name="lastname" id="" placeholder="LastName"></tr>
            <tr><input type="email" name="mail" id="" placeholder="Email"></tr>
            <tr><input type="password" name="pass" id="" placeholder="Password" autocomplete="new-password"></tr>
            
        </table>

        <button type="submit">Sign Up</button>
    </form>
</body>
</html>